.youtubeicon {
  color: red;
}
a {
  color: #000;
}
.btns {
  overflow-x: auto;
  padding-bottom: 1rem;
  gap: 2rem;
  padding-left: 4rem;
  padding-top: 2rem;
  button {
    font-size: 1.3rem;
    padding: 1rem 2.4rem;
  }
  .selectedButton {
    transform: scale(1.1);
    background-color: black !important;
    color: #fff !important;
  }
}

.cards {
  grid-template-columns: auto auto auto;
  // gap: 4rem;
  margin-left: 4rem;
  .card {
    cursor: pointer;
  }
  img {
    cursor: pointer;
    margin-top: 5rem;
    width: 33rem;
    height: 20rem;
  }
  h1 {
    width: 330px;
    font-weight: 600;
  }
  p {
    font-size: 1.4rem;
    margin-top: 5rem;
  }
  .flex-class {
    margin-top: -4rem;
    align-items: center;
    gap: 1rem;
    .channelImg {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
    }
    h4 {
      margin-top: 5rem;
    }
  }
}
